.app_toast_box {
  background: #aa3a45cc;
  /* margin-left: auto; */
  margin-bottom: 20px;
  /* color: white; */
  border-radius: 8px;
  padding: 20px 20px; /* Combine padding-left/right */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

  margin-top: 40px;
}

/* .progressbar {
  background-color: peachpuff;
  background: peachpuff;
  color: peachpuff;
  background-color: peachpuff;
} */

/* progressbar trough {
  background-color: #222;
} */

progressbar.progress_bar trough progress {
  background-color: #666666;
}

/* progressbar:disabled trough progress {
  background-color: #888;
} */

/* .button {
  background: #cc3a45ff;
  color: red;
} */
